/* Text */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: #2d2d2d;
}

/* Header */
header {
    padding: 0px;
    text-align: center;
    background: #2d2d2d;
	color: white;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	
}

h1 {
	margin-block-end: 10px;
	margin-block-start: 50px;
}

#subhead {
	font-size: 15px;
	margin-block-end: 50px;
	margin-block-start: 10px;
}

/*#auth, #home, #initialPage, #loginPage, #signupPage, #loggedin, #createPlaylist, #back-to-search, #search-before, #search-after, #playlist, #create-playlist{
    display: none;
}*/

#initialPage{
	text-align: center;
}
	
#loginPage{
	text-align: center;
}

#signupPage{
	text-align: center;
}

INPUT[type=password]{
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.search-item{
    height: 200%;
	width: 200%;
}

/* main */
main{
    margin: 30px;
    padding: 30px;
    background: white;
    opacity: 30%;
    border-radius: 20px;
}

.panel-body{
    width:100%;
    position: relative;

}

INPUT[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}

.input {
    font-size: 15px;
    color: black;
    font-weight: bold;
    line-height: 1.2;

    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
}


input.input {
    height: 45px;
}

.button {
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 0px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {

    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 300px;
    height: 50px;
    background-color: #12b538;
    border-radius: 25px;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* Footer */
footer {
    background-color: #2d2d2d;
	color: white;
    padding: 25px;
    text-align: center;
}
td, th {
    vertical-align:top;
}

#choose-playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#choose-playlist li {
    float: left;
}

#choose-playlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Center the loader */
#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #3498db;
    border-radius: 50%;
    border-top: 16px solid #f3f3f3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}


#create-playlist {
	align: center;
}


@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}


